{% extends 'base.html.twig' %}

{% block title %}Create New Event{% endblock %}

{% block body %}
    <h1 class="mt-4">Create New Event</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success mt-4">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('event_index') }}" class="btn btn-secondary mt-4">Back to list</a>
{% endblock %}
